/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#eco {
    width: 100%;
    height: auto;
}
 #descarga {
    max-width: 100%
    height: auto;
}

 #fotoactividades {
     width: 70%;
     height: auto;
 }

 .navbar{
   top: -6px;
   position: relative;
 }
.icono{
height: 32px;
width: 32px;

}

.social {
  position: relative;
  top: 55px;
}

.social-icon{
  padding: 5px;
}
